<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle name="FilteredTextBox">
      <control name="FilteredTextBoxExtender"></control>
    </controlBundle>
    <controlBundle name="ModalPopup">
      <control name="ModalPopupExtender"></control>
      <control name="UpdatePanelAnimationExtender"></control>
    </controlBundle>
    <controlBundle name="Calendar">
      <control name="CalendarExtender"></control>
    </controlBundle>
    <controlBundle name="MaskedEdit">
      <control name="MaskedEditExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>