<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.1"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.5">
      <controls>
        <add tagPrefix="AspAjax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="Facturacion" connectionString="Data Source=10.10.131.29\SQL5;Initial Catalog=CTY_PRI;User ID=pruebas;Password=123;Connection Timeout=200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BehaviorSalida">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Servicio" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.131.60:8011/General/Generales.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Servicio" contract="WSSAHIGeneral.IGeneral" name="BasicHttpBinding_IGeneral"/>
      <endpoint address="http://10.10.131.60:8011/Seguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Servicio" contract="WSSAHISeguridad.ISeguridad" name="BasicHttpBinding_ISeguridad"/>
    </client>
  </system.serviceModel>
</configuration>